<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <title><%- title%></title>
    <%-include partials/head.html %>
</head>
<body>
    <%-include partials/navigation.html %> 
    <div class="container p-5">
        <div class="col-sm-4">
            <address>
                <h3>Nosotros</h3>
                <p>Somos creadores de contenido geek con el proposito de inspirar a las personas.</p>
                <p>Jean Carlos Hernandez - Admin</p>
                <p>Cartagena Colombia</p>
                <p>Bosque Crra 18 Mz L lote 1</p>
                <p>3007426666</p>
                <p>heroshouse43@gmail.com</p>
            </address>
        </div>
    </div>
    <%-include partials/footer.html %>  
</body>
</html>