<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <title><%= title%></title>
    <%-include partials/head.html %>
</head>

<body>
    <%-include partials/navigation.html %>
    
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
               <img src="/img/logo.png" id="logo" alt="Punch" >
                <h1>Saca el héroe que llevas dentro!!!</h1>
            </div>



        </header>
    </div>
    
   
    <%-include partials/footer.html %>
</body>

</html>