
body {
    background: #885B3F;
    background: -webkit-linear-gradient(top, #885B3F, #E24D07);
    background: -moz-linear-gradient(top, #885B3F, #E24D07);
    background: linear-gradient(to bottom, #885B3F, #E24D07);
    
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

#logo{
    width: 400 px;
    height: 400px;
}

footer{
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}