<footer class="bg-secondary flex-wrap text-center p-2 ">
    <div class="row">
        <div class="col-sm ">
            <p>Siguenos en Instagram:</p> 
        </div>
        <div class="col-sm">
            <i class="fab fa-instagram fa-18px"></i> <a href="http://www.instagram.com/heroshouse_official">HerosHouse</a>
        </div>
    </div>
    <div class="col-sm">
        <p class="p">© 2020 HerosHouse</p>
    </div> 
    
</footer>

<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>